/* ------------------- Fonts ------------------- */
@font-face {
    font-family: "DigitalNumbers";
    src: url('DigitalNumbers.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "RobotoCondensed";
    src: url('RobotoCondensed.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* ------------------- Style ------------------- */
body {
    margin: 0;
    font-size: 16px;
}

.key {
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#result {
    text-align: right;
    font-size: 3.5em;
    padding: 0 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#app {
    height: 70vh;
    min-height: 280px;
    width: 80vw; 
    max-width: 580px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}

#result {
    height: 28%;
    width: 100%;
    background-color: #EEE;
    color: #444;
    font-family: "DigitalNumbers", sans-serif;
}

